:root {
  --accent-blue: #109cf1;
  --dark-blue: #334d6e;
  --black: #192a3e;
  --table-black: #323c47;
  --gray: #90a0b7;
  --table-gray: #707683;
  --profile-gray: #4c5862;
  --green: #2ed47a;
  --red: #f7685b;
  --yellow: #ffb946;
  --bg-primary: #e5e5e5;
  --bg-secondary: #fff;
  --color-label: #6a707e;
  --color-divider: #ebeff2;
  --color-text-primary: var(--black);
  --color-text-secondary: var(--dark-blue);
  --color-text-card-primary: var(--gray);
  --color-text-card-secondary: var(--table-black);
  --color-text-card-info-primary: var(--profile-gray);
  --color-text-card-info-secondary: var(--table-gray);
  --color-highlight: var(--accent-blue);
  --color-completed: var(--green);
  --color-ended: var(--red);
  --color-active: var(--yellow);
  --filter-color-link: invert(54%) sepia(74%) saturate(3307%) hue-rotate(175deg) brightness(97%) contrast(95%);
  --bs-font-family: "Poppins", "Open Sans", sans-serif;
  --bs-font-style: normal;
  --bs-text-ln-space: 0.01em;
  --fn-regular-10: normal 400 0.625rem /0.9375rem "Poppins";
  --fn-regular-12: normal 400 0.75rem /1.125rem "Poppins";
  --fn-regular-13: normal 400 0.8125rem /1.25rem "Poppins";
  --fn-medium-11: normal 500 0.6875rem /1rem "Poppins";
  --fn-medium-12: normal 500 0.75rem /1.125rem "Poppins";
  --fn-medium-13: normal 500 0.8125rem /1.25rem "Poppins";
  --fn-medium-14: normal 500 0.875rem /1.3125rem "Poppins";
  --fn-medium-15: normal 500 0.9375rem /1.375rem "Poppins";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: var(--bs-text-ln-space);
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: var(--bg-primary);
  display: flex;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--color-highlight);
}

:where(a.selected_link,
  a:hover) .svg_to_img_hovered_filter {
  filter: var(--filter-color-link);
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.sidebar,
.page__main__widget,
.widget {
  background-color: var(--bg-secondary);
  box-shadow: 0 0.375rem 1.125rem rgb(0 0 0 / 6%);
  border-radius: 0.25rem;
}

.sidebar {
  height: 100%;
  width: 18%;
  min-width: 150px;
  max-width: 259px;
  z-index: 1;
}

.sidebar__inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.sidebar__title {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  font: normal 600 1.125rem /1.5625rem "Open Sans", sans-serif;
  color: var(--accent-blue);
}

.dashboard__profile {
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.profile__avatar {
  height: auto;
  width: 100%;
  max-width: 46px;
  aspect-ratio: 1/1;
}

.profile__details {
  overflow-wrap: anywhere;
}

.profile__details__username {
  font: var(--fn-medium-14);
  color: var(--color-text-primary);
}

.profile__details__email {
  font: var(--fn-medium-11);
  color: var(--color-text-card-primary);
}

.dashboard__nav {
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  font: var(--fn-medium-13);
}

.nav_menu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.dashboard__item {
  color: var(--color-text-secondary);
}

.dashboard__item>a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle_sidebar>a {
  gap: 0.875rem;
}

.dashboard__item__icon,
.search_icon {
  height: auto;
  max-width: 100%;
}

.toggle_sidebar {
  width: 80%;
  padding-bottom: 22px;
  margin-top: auto;
  align-self: center;
  font: var(--fn-medium-11);
  color: var(--color-text-card-primary);
}

.search__bar {
  width: 100%;
  padding: 0 2.25rem;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__bar__line {
  height: 1.25rem;
  display: flex;
  align-items: center;
}

.search__bar__line__input {
  padding: 1px 1em;
  border: none;
  font: var(--fn-regular-10);
  color: var(--color-text-card-primary);
}

.search__bar__notification {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  text-align: center;
}

.main__page {
  height: 100%;
  width: 100%;
  min-width: 82%;
}

.page {
  height: calc(100% - 7vmin);
  width: 100%;
  min-width: 0;
  padding: 2.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-y: scroll;
  align-items: flex-start;
}

.page__main__widget {
  min-height: 100%;
  min-width: 298px;
  width: 57%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page__widgets {
  min-height: 100%;
  min-width: min-content;
  flex-flow: column;
  display: flex;
  align-items: flex-start;
}

.widget__title {
  width: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.widget .widget__title {
  margin: 0 0.5rem;
}

.widget__filter {
  display: flex;
  align-items: center;
  font: var(--fn-regular-12);
  color: var(--color-label);
}

.filter_select {
  width: min-content;
  padding: 0 0.75rem 0 0.2em;
  appearance: none;
  outline: none;
  border: none;
  font: inherit;
  letter-spacing: inherit;
  background-color: var(--bg-secondary);
  color: inherit;
}

.widget__filter__select {
  width: 100%;
  display: grid;
  border: none;
  align-items: center;
  color: var(--color-highlight);
}

.filter_select,
.widget__filter__select::after {
  grid-area: select;
  justify-self: end;
}

.widget__filter__select::after {
  content: "";
  height: 4px;
  width: 0.4375rem;
  background-color: #aeaeae;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.widget__content {
  height: auto;
  padding: 1rem 1.5rem 1.5rem;
}

.widget__graph {
  align-self: center;
}

.cards {
  height: 100%;
  padding-top: 0.875rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0;
  width: 100%;
}

.card {
  height: auto;
  max-width: 100%;
  margin: 0 1.5rem;
}

.card:hover,
.card:active {
  box-shadow: 0 0 1rem rgb(0 0 0 / 14%);
  border-radius: 0.25rem;
}

.card__inner {
  padding: 1rem;
  background: var(--bg-secondary);
  box-shadow: 0 0.125rem 0.625rem rgb(0 0 0 / 8%);
  border-radius: 0.25rem;
}

.card__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 2.4em;
}

.card__title__message {
  height: 1.375rem;
  width: auto;
  overflow: hidden;
  font: var(--fn-medium-15);
  color: var(--color-text-card-secondary);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__title__subject {
  font: var(--fn-medium-12);
  color: var(--color-text-card-primary);
  text-align: right;
}

.card__subtitle {
  font: var(--fn-regular-13);
  color: var(--color-text-card-info-primary);
  margin-top: 0.4375rem;
}

.card__footer {
  height: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin-top: 1.25rem;
}

.card__status,
.card__assignee {
  display: flex;
  gap: 0.75rem;
}

.card__assignee__avatar {
  height: 1.5rem;
  width: 1.5rem;
  max-width: 100%;
  display: block;
}

.card__assignee__name {
  height: 1.25rem;
  font: var(--fn-regular-13);
  color: var(--color-text-card-info-secondary);
}

.card__status__action {
  white-space: nowrap;
}

.btn__card__status {
  height: 1.375rem;
  width: 5.25rem;
  padding: 3px 0.5rem 5px;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  font: var(--fn-medium-11);
  text-align: center;
  letter-spacing: 0.02em;
}

.card__status.status_completed>input[class^="btn__card__status"] {
  background-color: var(--color-completed);
}

.card__status.status_ended>input[class^="btn__card__status"] {
  background-color: var(--color-ended);
}

.card__status.status_completed>.card__status__action {
  visibility: hidden;
}

.action_edit,
.action_delete {
  height: 1rem;
  width: 1rem;
  max-width: 100%;
}

.cards__extend {
  height: auto;
  width: 100%;
  padding: 0.3125rem 0 0.875rem;
  font: var(--fn-medium-13);
  color: var(--color-highlight);
  text-align: center;
}

.legend__item {
  height: auto;
  width: max-content;
  padding: 0.4375rem;
  font: var(--fn-regular-10);
  color: var(--color-text-primary);
}

.calendar__panel {
  padding: 1.6875rem 1rem 1.3125rem;
}

.calendar__panel__inner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.calendar__panel__day {
  display: flex;
  flex-direction: column;
  font: var(--fn-medium-13);
  text-align: center;
  gap: 0.5rem;
}

.calendar_panel_day_dayofweek {
  color: var(--color-text-secondary);
}

.calendar_panel_day_date {
  padding-top: 0.25em;
  font: var(--fn-regular-12);
  color: var(--color-text-card-info-primary);
  text-align: center;
}

.calendar__panel__day:hover :where(.calendar_panel_day_dayofweek, .calendar_panel_day_date) {
  color: var(--color-highlight);
}

.date_current_highlight {
  height: 1.5rem;
  width: 1.5rem;
  background: var(--color-highlight);
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.date__title {
  padding: 1.25rem 1rem;
  font: var(--fn-medium-15);
  color: var(--color-text-primary);
}

.progress__bar {
  height: 4px;
  padding: 0 1rem;
  position: relative;
}

.progress__bar__inner {
  height: 100%;
  border-radius: 3px;
}

.progress_base_layer {
  width: 100%;
  background: var(--color-divider);
}

.progress_top_layer {
  background: var(--green);
}

.tasks__top {
  height: auto;
  min-width: 0;
  width: 100%;
  margin-bottom: 3px;
}

.tasks__top__inner {
  margin: 0 0.5rem;
}

.tasks_widgets {
  height: 100%;
  width: 40%;
  gap: 1.875rem;
}

.tasks_widgets>.widget {
  max-width: 445px;
  width: 100%;
  flex-basis: 50%;
}

.tasks .widget__title__text {
  font: var(--fn-medium-13);
  color: var(--color-text-secondary);
}

.widget .widget__title__text {
  font: var(--fn-medium-15);
  color: var(--color-text-primary);
}

.widget_deals>.widget__content {
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
}

.widget_tasks_chart .widget__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.graph__img {
  height: auto;
  max-width: 100%;
  display: block;
}

.graph_tasks {
  width: 96%;
  aspect-ratio: 1;
}

.red-ellipse {
  height: 0.5rem;
  width: 0.5rem;
  background: var(--red);
  border-radius: 50%;
  border: 1px solid #fff;
}

.list_style_type_ellipse::before {
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0.5rem;
  border: 2px solid var(--accent-blue);
  border-radius: 50%;
}

.list_style_type_ellipse.status_active::before {
  border-color: var(--color-active);
}

.list_style_type_ellipse.status_completed::before {
  border-color: var(--color-completed);
}

.list_style_type_ellipse.status_ended::before {
  border-color: var(--color-ended);
}

.selected_link {
  color: var(--color-highlight);
}

.top_bar {
  height: 7vmin;
}

.notification_ellipse {
  position: absolute;
  top: 2px;
  right: 3px;
}

.divider_bottom {
  border-bottom: 1px solid var(--color-divider);
}

.divider {
  height: 1px;
  background: var(--color-divider);
}

.opacity_50 {
  opacity: 0.5;
}

.tasks_progress_percent {
  width: 80.06%;
}

@media only screen and (max-width: 726px) {
  body {
    height: auto;
    overflow: auto;
  }

  .sidebar {
    height: auto;
  }

  .page,
  .page__widgets {
    display: block;
  }

  .page {
    overflow: inherit;
    box-shadow: 0 0.375rem 1.125rem rgb(0 0 0 / 6%);
    border-radius: 0.25rem;
  }

  .page__main__widget,
  .page__widgets,
  .widget {
    width: auto;
    box-shadow: none;
    border-radius: 0;
  }

  .tasks_widgets>.widget {
    max-width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  body {
    min-width: 298px;
  }

  .sidebar,
  .calendar__panel,
  .cards__extend,
  .action_edit {
    display: none;
  }

  .page,
  .page__widgets,
  .cards {
    padding: 0;
  }

  .page__main__widget,
  .page__widgets,
  .widget {
    width: 100%;
  }

  .page {
    box-shadow: none;
  }

  .search__bar {
    height: 60px;
    border-bottom: 0;
  }

  .page__main__widget .widget__title {
    padding-top: 8px;
  }
}